div {
  width: 300px;
  height: 300px;
  position: absolute;
  background: linear-gradient(to right top, blue, yellow);
  -webkit-animation: bouge 6s linear alternate infinite;
  animation: bouge 6s linear alternate infinite;
}
@-webkit-keyframes bouge {
  0% {
    top: 0;
    left: 0;
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  25% {
    top: 0;
    left: 400px;
  }
  50% {
    top: 400px;
    left: 400px;
  }
  75% {
    top: 400px;
    left: 0px;
  }
  100% {
    top: 0px;
    left: 0px;
    -webkit-transform: rotate(360deg) scale(0.5);
    transform: rotate(360deg) scale(0.5);
    border-radius: 150px;
  }
}
@keyframes bouge {
  0% {
    top: 0;
    left: 0;
    transform: rotate(0deg) scale(1);
  }
  25% {
    top: 0;
    left: 400px;
  }
  50% {
    top: 400px;
    left: 400px;
  }
  75% {
    top: 400px;
    left: 0px;
  }
  100% {
    top: 0px;
    left: 0px;
    transform: rotate(360deg) scale(0.5);
    border-radius: 150px;
  }
}
